*.bak
*.bck
*.c.un~
*.c~
*.h.un~
*.h~
..gitignore.un~
.gitignore~
*.raw
*.op.raw
*.log
*.plt

sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Makefile-default.mk
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Makefile-genesis.properties
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Makefile-impl.mk
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Makefile-local-default.mk
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Makefile-variables.mk
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/Package-default.bash
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/configurations.xml
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/private/configurations.xml
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/private/private.xml
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/project.xml
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/build/
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/dist/
sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/private/private.xml
