*.bak
*.bck
*.c.un~
*.c~
*.h.un~
*.h~
..gitignore.un~
.gitignore~
*.raw
*.op.raw
*.log
*.plt

/sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/nbproject/private/
/sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/build/default/
/sfw/embedded_firmware/U601_firmware/LED_Display_Controller.X/dist/default/